@{
    ViewData["Title"] = "E lá vamos Nós";
}
<h1>@ViewData["Title"]</h1>

<p>Coloque seus dados que entraremos em contato com você.</p>

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title> Agencia de Viagens </title>
</head>

<body>

    <h2>Seja bem vindo (a)</h2>

    <p>Vem Viajar com a <strong> gente!</p></strong>
    <p>Vem Viajar com a <em> gente!</p></em>



    <br>
    <h4> Viagem dos Sonhos.</h4>
    </br>


    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Senha</th>

            </tr>


    </table>

    <form>
        <label for="nome">Nome:</label>
        <input id="nome" type="text">

        <label for="CPF">CPF:</label>
        <input id="PF" type="number">

        <label for="email">Email:</label>
        <input id="email" type="text">

        <label for="Senha">Senha:</label>
        <input id="Senha" type="text">

        
        <button id="botaoEnviar">Enviar</button>
    </form>


</body>



</html>