@{
    ViewData["Title"] = "Home Page";
}

<div class="HomeBanner">
    <h1>Planeje sua viagem com comodidade!</h1>
    <a class="btn btn-danger" asp-controller="Passagems" asp-action="Index">Destinos</a>
</div>
