<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title> Agencia de Viagens </title>
</head>

<body>

    <h2>Seja bem vindo (a)</h2>

    <p>Vem Viajar com a <strong> gente!</p></strong>
    <p>Vem Viajar com a <em> gente!</p></em>


    <br>
    <h4> Viagem dos Sonhos.</h4>
    </br>

    <br>
    <h5>Afinal, pra que ir pra Maldivas, se eu posso me divertir no alfalto de SP/ES/MG</h5>
    </br>





    <table class="table">
        <thead>
            <tr>
                <th "São Paulo">São Paulo</th>
                <th "Espirito Santo">Espirito Santo</th>
                <th "Minas Gerais">Minas Gerais</th>

            </tr>
        </thead>

        <tr>
            <
            <td>R$ 1.500,00</td>
            <td>R$ 2.000,00</td>
            <td>R$ 3.000,00</td>
        </tr>

        <tr>

            <td>Ar Fresco</td>
            <td>Sem Vioência</td>
            <td>Muitas Praias</td>
        </tr>

    </table>

    <form>
        <label for="Destino">Destino:</label>
        <input id="Destino" type="text">

        <label for="Data Ida">Data Ida:</label>
        <input id="Data Ida" type="date">

        <label for="Data Volta">Data Volta:</label>
        <input id="Data Volta" type="date">

        <label for="Valor">Valor:</label>
        <input id="Valor" type="number">


        <button id="botaoEnviar">Enviar</button>
    </form>


</body>



</html>