<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title> Agencia de Viagens </title>
</head>

<body>

    <h2>Seja bem vindo (a)</h2>

    <p>Vem Viajar com a <strong> gente!</p></strong>
    <p>Vem Viajar com a <em> gente!</p></em>

    <br>
    <a href="Index.html">Home</a>
    </br>

    <br>
    <a href="Destino.html">Destino</a>
    </br>

    <br>
    <a href="Promoções.html">Promoções</a>
    </br>

    <br>
    <a href="Contato.html">Contato</a>
    </br>

    <br>
    <h4> Viagem dos Sonhos.</h4>
    </br>

    <br>
    <h5>Afinal, pra que ir pra Maldivas, se eu posso me divertir no alfalto de SP/ES/MG</h5>
    </br>





    <table class="table">
        <thead>
            <tr>
                <th "São Paulo">São Paulo</th>
                <th "Espirito Santo">Espirito Santo</th>
                <th "Minas Gerais">Minas Gerais</th>

            </tr>
        </thead>

        <tr>
            <
            <td>10%</td>
            <td>10%</td>
            <td>10%</td>
        </tr>

        <tr>

            <td>Cupom: SP10</td>
            <td>Cupom: ES10</td>
            <td>Cupom: MG10</td>
        </tr>

    </table>


</body>



</html>
